html {
  background-color: #f2f2f2;
}
#date {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  text-shadow: 2px 2px #404040;
  color: #a6a6a6;
}
#hourlunchschedule {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #f2f2f2;
  text-shadow: 1px 1px #404040;
  position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  color: #a6a6a6;
}
#latestartschedule {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #f2f2f2;
  text-shadow: 1px 1px #404040;
  position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  color: #a6a6a6;
}
